body{
	margin-bottom: 0;
	padding: 0;
	background: #f6f6f6;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-transform: uppercase;
	text-align: justify;
}

.header{
	overflow: hidden;
	width: 100%;
}

.logo{
	float: left;
	margin: 10px;
}

.menu{
	float: right;
	width: 70%;
	margin-top: 10px;
}

.menu ul{
	margin: 0;
	list-style: none;
	padding: 40px 0;
}

.menu ul li{
	display: inline-block;
	text-transform: uppercase;
	font-weight: bold;
	color: #fe9b00;
	padding: 0 15px;
	font-family: sans-serif;
}

.line{
	height: 1px;
	width: 100%;
	margin: 20px 0;
}

.slider{
	position: relative;
}

.sld2{
	position: absolute;
	top: 30px;
	left: 40px;
	color: white;
	font-size: 45px;
}

.sld2 h1{
	font-size: 55px;
}

.sld3{
	background: #090909;
	width: 40%;
	position: absolute;
	bottom: 50px;
	left: 40px;
	height: 50px;
	text-align: center;
}

.sld3 h3{
	color: white;
	float: left;
	font-weight: normal;
	font-size: 15px;
	margin-top: 15px;
	margin-left: 10px;
}

.sld3 h4{
	color: #fe9b00;
	float: right;
	font-size: 15px;
	margin-top: 13px;
	margin-right: 10px;
}

.sld4{
	position: absolute;
	left: 60%;
	bottom: 0;
}

.sld5{
	position: absolute;
	right: 0;
	bottom: 0;
}

.service{
	width: 100%;
	display: inline-block;
}

.ser1{
	width: 32%;
	float: left;
	margin-left: 10px;
}

.ser_head{
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
}

.ser_context h6{
	float: right;
	color: black;
	margin-top: 15px;
	margin-bottom: 20px;
}
 
.ser_more span{
	color: orange;
}

.line1{
	height: 5px;
	width: 100%;
	margin: 10px 0;
	background: black;
}

#a{
	float: left;
}

.ser p{
	color: black;
	font-size: 15px;
	margin-top: 25px;
}

.portfolio{
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
}

.heading{
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
	padding: 10px;
}

.box{
	width: 100%;
	float: left;
	display: inline-block;
}

.portbox{
	width: 25%;
	float: left;
	display: inline-block;
	position: relative;

}

.port_box{
	font-size: 10px;
	background: rgb(254, 155, 0);
	width: 33%;
	position: absolute;
	bottom: 4px;
	right: 12px;
}

.port{
	width: 23%;
	float: left;
	margin-left: 15px;
	/*position: relative;*/
}

.port_img{
	width: 95%;
	/*padding: 8px;*/
}



.port_img img{
	width: 100%;
}

.blog{
	width: 100%;
	padding: 0;
	overflow: hidden;
}

.blog_left{
	width: 70%;
	float: left;
}

.blog_left h3{
	margin-bottom: 10px;
}

.blog_left p{
	margin-bottom: 10px;
}

.blog_right{
	width: 29%;
	float: right;
	margin-top: 10px;
}

.righthead{
	margin-left: 50px;
}

.blog_images{
	margin-left: 65px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.footer{
	overflow: hidden;
	background: #e2e2e2;
}

.footer_left{
	margin-top: 30px;
	float: left;
	margin-left: 50px;
	color: #888888;
}

.footer_right{
	float: right;
	margin: 15px 30px;
}

#b{
	width: 70%;
}